extends layout.pug

block content
  .row
    .col.s12
      .card-panel.hoverable
        canvas#myCanvas
  #myApp
    .row
      .card-panel.hoverable Controls
        br
        a.waves-effect.waves-teal.btn-flat.center-align(@click="up") Up
        a.waves-effect.waves-teal.btn-flat.center-align(@click="down") Down
      .card-panel.hoverable Color Picker
        br
        a.waves-effect.waves-teal.btn-flat.center-align Red
        a.waves-effect.waves-teal.btn-flat.center-align Blue
        a.waves-effect.waves-teal.btn-flat.center-align Black
        a.waves-effect.waves-teal.btn-flat.center-align Orange

    div(style="bottom: 45px; right: 24px", id="myApp").fixed-action-btn.horizontal.click-to-toggle
      a.btn-floating.btn-large.red
        i.material-icons edit
      ul
        li
          a.btn-floating.blue
            i.material-icons(@click="setColor('blue')") edit
        li
          a.btn-floating.yellow(@click="setColor('yellow')")
            i.material-icons edit
        li
          a.btn-floating.red(@click="setColor('red')")
            i.material-icons edit
        li
          a.btn-floating.green(@click="setColor('green')")
            i.material-icons edit
